/* src/components/VideoCard/VideoCard.css */

.video-card {
    width: 300px;       /* Ajusta el tamaño que deseas */
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    position: relative;
    overflow: hidden;   /* Para recortar contenido excedente */
  }
  
  .card-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    box-sizing: border-box;
  }
  
  .card-content h3 {
    margin: 0 0 5px;
    font-size: 18px;
  }
  
  .card-content p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
  }
  
  .buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  
  .buttons button {
    padding: 6px 10px;
    background-color: #ff4742;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .buttons button:hover {
    background-color: #ff6b66;
  }
  