/* Category.css */

.category-section {
  max-width: 90%;
  margin: 40px auto;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  overflow: hidden; 
}

/* ALURA HORROR */
.category-section.alura-horror {
  background-image: url('../../../public/assets/img/background-horror.png');
  background-size: cover;
  background-position: center;
}

/* PARANORMALURA */
.category-section.paranormalura {
  background-image: url('../../../public/assets/img/background-paranormalura.png');
  background-size: cover;
  background-position: center;
}

/* ALURAFOBIA */
.category-section.alurafobia {
  background-image: url('../../../public/assets/img/background-alurafobia.png');
  background-size: cover;
  background-position: center;
}

.category-section.recomendado {
  background-image: url('../../../public/assets/img/background-horror.png');
  background-size: cover;
  background-position: center;
  margin-bottom: 50px; /* Espacio adicional para evitar que quede pegada al footer */
}

/* Deja espacio entre tarjetas: */
.slick-slide {
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}

.slick-track {
  display: flex !important;
  align-items: center;
  transition: transform 0.3s ease !important;
}

.category-section h2 {
  text-align: center; /* Centra horizontalmente el texto */
  font-size: 2rem; /* Ajusta el tamaño del texto */
  margin-bottom: 20px; /* Espaciado inferior */
  color: #fff; /* Color del texto */
}


.category-card {
  width: 220px;
  height: 220px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
