.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 10px 20px;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.buttons button {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #ff4742;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #ff6a66;
}
