/* src/components/Navbar/Navbar.css */

.navbar {
  position: fixed; /* Fijo para que siempre esté visible */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; 
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.navbar-logo {
  height: 90px;
  cursor: pointer;
}
  
  .navbar-buttons {
    display: flex;
    gap: 5px;
    margin-right: 40px;
  }